fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
setuptools
wheel
email-validator         # if you're doing email validation in FastAPI
passlib[bcrypt]         # for password hashing
python-jose[cryptography]  # for JWT token auth
